# Ignore big CSV files in data directories by default
orders.csv
order_products__prior.csv
order_products__train.csv
stats/

# But allow ml data directory that is needed
!/ml-service/src/data/

# Ignore enriched files in backend/app/enriched/
backend/app/enriched/

__pycache__/
*.pyc

.DS_Store

*.ps1

